@import '../../app/scss/flex';

.container {
  @extend %flex-col;
  @extend %align-center;
  @extend %justify-center;

  width: 100vw;
  height: 100vh;
  padding: 50px 10px;
  gap: 10px;
  background-color: #97bf0f;
  color: white;

  .card {
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    gap: 5px;

    @extend %flex-col;

    button {
      text-decoration: none;
      border: 2px solid white;
      border-radius: 50px;
      padding: 10px;
      font-weight: bold;
      background-color: white;
      color: #97bf0f;
      font-size: 13.33px;
      text-align: center;
      font-family: Arial, sans-serif;
    }
  }
}

@media (min-width: 768px) {
  .main {
    width: 80vw;
    height: 100vh;
  }
}
