@import '../../app/scss/flex';

.item-card {
  @extend %flex-col;
  @extend %align-center;

  .div-img {
    @extend %flex-col;
    @extend %justify-center;
    height: 250px;
    background-color: grey;
    border-radius: 100%;

    img {
      width: 250px;
      object-fit: cover;
    }
  }

  .social {
    @extend %flex-row;

    img {
      width: 25px;
      height: auto;
    }
  }
}
