@import '../../app/scss/flex';

.main {
  @extend %flex-col;
  @extend %align-center;
  @extend %justify-center;

  width: 100vw;
  padding: 50px 10px;

  p {
    color: grey;
  }
}

@media (min-width: 768px) {
  .main {
    width: 80vw;
    height: 100vh;
  }
}
