@import './app/scss/flex';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  @extend %flex-row;

  // .slick-list {
  //   text-align: center;
  // }
}

.active {
  background-color: #97bf0f;
}

.menu {
  position: absolute;
  top: 10px;
}

.open {
  left: 10px;
}

.close {
  right: 10px;
}
