* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: green;
}

.menu {
  position: absolute;
  top: 0;
}

.close {
  right: 0;
}

.open {
  left: 0;
}

@media (min-width: 768px) { 
  .mobile {
    visibility: hidden;
  }
 }

